// bluebird
import Bluebird from 'bluebird';
const fsAsync = Bluebird.promisifyAll(fs);
const func = Bluebird.coroutine(function *() {
  const data1 = yield fsAsync.readFileAsync('/test1');
  const data2 = yield fsAsync.readFileAsync(data1);
  doSomething(data2);
});
func().then(...).catch(...);
// co
import co from 'co';
const func = co.wrap(function *() {
  const data1 = yield fsAsync.readFileAsync('/test1');
  const data2 = yield fsAsync.readFileAsync(data1);
  doSomething(data2);
});
func().then(...).catch(...);
