function sumThunk(number1, number2, callback) {
  setImmediate(() => {
    try {
      const sum = parseInt(number1) + parseInt(number2);
      callback(null, sum);
    } catch (error) {
      callback(error);
    }
  });
}
